body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #101D33;
  }
  
  /* Alle Screens */
  .screen {
    width: 100%;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #101D33;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: none;
  padding-bottom: 40px;
  }
  
  .screen:not(.hidden) {
    display: block;
  }
  
  /* Screen 1 */
  .screen-background {
    width: 1024px;
    height: 1366px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #101D33;
    z-index: 0;
  }

  .screen-content {
    padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  }

  .logo {
    width: 200px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  html, body {
    margin: 0;
    padding: 0;
    background-color: #101D33;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .qr-image {
    width: 60vw;
    max-width: 400px;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 20px;
    background-color: white; /* Optional: für "ruhigen" Hintergrund */
    box-sizing: border-box;
  }
  
  .bg-decoration {
    width: 500px;
    height: 500px;
    position: absolute;
    top: -117px;
    left: 0px;
    z-index: 1;
  }
  
  .instruction {
    margin-top: 140px;
    text-align: center;
    color: #5796C6;
    font-size: 3vw;
    font-weight: 400;
  }
  
  .ssid-info {
    margin-top: 40px;
    font-size: 4vw;
    font-weight: 700;
    text-align: center;
  }
  
  .ssid-label {
    color: #F37AB3;
  }
  .ssid-space {
    color: #5796C6;
  }
  .ssid-value {
    color: white;
  }
  
  /* Placeholder Screens */
  .placeholder {
    color: white;
    font-size: 48px;
    text-align: center;
    margin-top: 40vh;
  }

  @media (max-width: 600px) {
    .logo {
      width: 150px;
      top: 10px;
      left: 10px;
    }
    .instruction {
      font-size: 5vw;
    }
    .qr-image {
      width: 80vw;
    }
    .ssid-info {
      font-size: 6vw;
    }
  }
  